{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h5 class="mb-4">网络连接管理</h5>
                <form method="post">
                    <div class="form-group mb-4">
                        <label for="domain_ban">禁访域名</label>
                        <input id="domain_ban" name="domain_ban" type="text" class="form-control" placeholder="请输入域名"
                            required>
                    </div>
                    <div class="form-group mb-4">
                        <label for="word_ban">敏感词</label>
                        <input id="word_ban" name="word_ban" type="text" class="form-control" placeholder="请输入敏感词" required>
                    </div>
    
                    <div class="btn  btn-block btn-lg">
                        <button type="submit" class="btn btn-primary">提交禁用词</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}