<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <title>{{ title }} | 网络流量监控</title>
    <style>
        :root {
            --color-background: #fafafa;
            --color-primary: #7bb6f2;
            --color-primary-dark: #2d6eb1;
            --color-primary-light: #b8ddfc;
        }

        .btn-primary {
            background-color: var(--color-primary);
            border-color: var(--color-primary-light);
            color: white;
        }

        body {
            background-color: var(--color-background);
        }
    </style>
    {% block style %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: var(--color-primary-light);">
    <a class="navbar-brand" href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='favicon.ico') }}" width="30" height="30"
             class="d-inline-block align-top" alt="">
        网络流量监控
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('stats') }}">协议统计</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('packets') }}">报文信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('ban') }}">断网规则</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('user') }}">用户信息</a>
            </li>
        </ul>
    </div>
</nav>

{% block body %}{% endblock %}
<hr class="mt-5 mb-3">
<footer class="container">
    <p class="text-center">
        <small class="text-muted">网络流量监控</small><br>
        <small class="text-muted">Created by 监察小组</small>
    </p>
</footer>
<script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
</body>
{% block script %}{% endblock %}
</html>