{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h4 class="mb-2" style="color: var(--color-primary-dark)">当前网络环境</h4>
                <hr class="mb-4">
                <b>本机IP地址</b>
                <p>{% for i in ip %}{{ i }}<br>{% endfor %}{% for i in ip6 %}{{ i }}<br>{% endfor %}</p>
                <b>本机所在网络</b>
                <p>{% for i in net %}{{ i }}<br>{% endfor %}{% for i in net6 %}{{ i }}<br>{% endfor %}</p>
                <b>本机MAC地址</b>
                <p>{{ mac }}<br></p>
                <b>路由器IP地址</b>
                <p>{% for i in router_ip %}{{ i }}<br>{% endfor %}{% for i in router_ip6 %}{{ i }}<br>{% endfor %}</p>
                <b>路由器MAC地址</b>
                <p>{{ router_mac }}<br></p>
            </div>
            <div class="col">
                <h4 class="mb-2" style="color: var(--color-primary-dark)">接口设置</h4>
                <hr class="mb-4">
                <form id="form-iface" class="mt-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="iface">当前网络接口</label>
                                <input id="iface" class="form-control form-control-sm" type="text" name="iface"
                                       value="{{ iface }}">
                            </div>
                        </div>
                        <div class="col">
                            <button id="btn-iface" class="btn btn-primary mt-4" type="button">重新设置接口</button>
                        </div>
                    </div>
                </form>

                <h4 class="mb-2 mt-4" style="color: var(--color-primary-dark)">LAN扫描</h4>
                <hr class="mb-4">
                {% for k in rarp_table %}<b>{{ k }}</b>
                    <p>{% for i in rarp_table[k] %}{{ i }}<br>{% endfor %}</p>{% endfor %}
                <div id="spin-scan" class="spinner-border text-primary" role="status" hidden>
                    <span class="sr-only">Loading...</span>
                </div>
                <form id="form-scan" class="mt-3">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="timeout">等待响应时间</label>
                                <input id="timeout" class="form-control form-control-sm" type="number" min="1"
                                       name="timeout" value="3">
                            </div>
                        </div>
                        <div class="col">
                            <button id="btn-scan" class="btn btn-primary mt-4" type="button">开始LAN扫描</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <h4 class="mb-2" style="color: var(--color-primary-dark)">监控设置</h4>
        <hr class="mb-3">
        {% if started %}
            <b>正在监控 {{ target_mac }}</b>
            <p>{% for i in target_ip %}{{ i }}<br>{% endfor %}{% for i in target_ip6 %}{{ i }}
                <br>{% endfor %}</p>
            <button id="btn-stop" class="btn btn-danger" type="button">停止流量监控</button>
        {% else %}
            <form id="form-sniff">
                <div class="form-group">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="mac">被监控主机MAC地址</label>
                            <input id="mac" class="form-control form-control-sm" type="text" name="mac">
                        </div>
                        <div class="col">
                            <label for="interval">ARP / NDP 欺骗周期</label>
                            <input id="interval" class="form-control form-control-sm" type="number" min="0"
                                   name="interval"
                                   value="5">
                        </div>
                        <div class="col">
                            <button id="btn-sniff" class="btn btn-primary mt-4" type="button">开始流量监控</button>
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#btn-iface").click(() => {
            let form = $("#form-scan");
            $.post("/?act=iface", $("#form-iface").serialize(), (data) => {
                if (data) {
                    location.reload();
                } else {
                    alert("未找到该接口，请确保输入正确");
                }
            }, "json");
        });

        $("#btn-scan").click(() => {
            let form = $("#form-scan");
            form.attr("hidden", true);
            $("#spin-scan").attr("hidden", false);
            $.post("/?act=scan", form.serialize(), () => {
                location.reload();
            }, "json");
        });

        $("#btn-sniff").click(() => {
            $.post("/?act=sniff", $("#form-sniff").serialize(), (data) => {
                console.log('posted');
                if (data) {
                    window.location = "/stats";
                }
            }, "json");
        });

        $("#btn-stop").click(() => {
            $.post("/?act=sniff", '', () => {
                location.reload();
            }, 'json');
        });
    </script>
{% endblock %}
