{% extends 'base.html' %}
{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <h5 class="mb-4">当前网络环境</h5>
                <b>本机IPv4地址</b>
                <p>{% for i in ip %}{{ i }}<br>{% endfor %}</p>
                <b>本机IPv6地址</b>
                <p>{% for i in ip6 %}{{ i }}<br>{% endfor %}</p>
                <b>本机MAC地址</b>
                <p>{{ mac }}<br></p>
                <b>路由器的一个可能的IPv4地址</b>
                <p>{% for i in router_ip %}{{ i }}<br>{% endfor %}</p>
                <b>路由器的一个可能的IPv6地址</b>
                <p>{% for i in router_ip6 %}{{ i }}<br>{% endfor %}</p>
                <b>路由器MAC地址</b>
                <p>{{ router_mac }}<br></p>
            </div>
            <div class="col">
                <h5 class="mb-4">LAN扫描</h5>
                <p id="result-scan"></p>
                <button id="btn-scan" class="btn btn-primary mt-1" type="button">开始LAN扫描</button>
            </div>
        </div>
    </div>

    <div class="container mt-5">
        <h5 class="mb-4">监控设置</h5>
        <form id="form-sniff">
            <div class="form-group">
                <div class="row mb-3">
                    <div class="col">
                        <label for="mac">被监控主机MAC地址</label>
                        <input id="mac" class="form-control form-control-sm" type="text" name="mac">
                    </div>
                    <div class="col">
                        <label for="interval">ARP / ICMPv6 欺骗周期（秒，0不启用）</label>
                        <input id="interval" class="form-control form-control-sm" type="number" min=0, name="interval"
                               value="5">
                    </div>
                    <div class="col">
                        <button id="btn-sniff" class="btn btn-primary mt-4" type="button">开始流量监控</button>
                        <button id="btn-stop" class="btn btn-danger mt-4" type="button">停止流量监控</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        $("#btn-scan").click(() => {
            let result = $("#result-scan");
            result.text("正在扫描中");
            $.post("/scan", $("#form-scan").serialize(), (data) => {
                result.text("");
                if (Object.keys(data).length === 0)
                    result.text("没有扫描结果");
                for (let mac in data) {
                    result.append("<b>" + mac + "</b>");
                    let html = "<p>";
                    for (let ip of data[mac]) {
                        html += ip + "<br>";
                    }
                    html += "</p>"
                    result.append(html);
                }
                $("#btn-scan").text("重新开始LAN扫描");
            }, "json");
        });

        $("#btn-sniff").click(() => {
            $.post("/sniff", $("#form-sniff").serialize(), (data) => {
                console.log('posted');
                if (data) {
                    window.location = "{{ url_for('stats') }}";
                }
            }, "json");
        });
    </script>
{% endblock %}
