{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <h5>流量监控</h5>
    <div id="chart" class="m-auto"></div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <p class="text-center">
                <strong>IPv4</strong>
            </p>
            <div class="progress-group">
                <span class="progress-text">TCP</span><span
                    class="progress-number"><b id="ip4_tcp_cnt">&nbsp;&nbsp;</b>/<text class="ip4_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip4_tcp" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->

            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">TLS</span><span
                                class="progress-number"><b id="ip4_tcp_tls_cnt">&nbsp;&nbsp;</b>/<text class="ip4_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_tcp_tls" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">HTTP</span><span
                                class="progress-number"><b id="ip4_tcp_http_cnt">&nbsp;&nbsp;</b>/<text class="ip4_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_tcp_http" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">DNS</span><span
                                class="progress-number"><b id="ip4_tcp_dns_cnt">&nbsp;&nbsp;</b>/<text class="ip4_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_tcp_dns" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-group">
                <span class="progress-text">UDP</span><span
                    class="progress-number"><b id="ip4_udp_cnt">&nbsp;&nbsp;</b>/<text class="ip4_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip4_udp" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">SSDP</span><span
                                class="progress-number"><b id="ip4_udp_ssdp_cnt">&nbsp;&nbsp;</b>/<text class="ip4_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_udp_ssdp" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">QICQ</span><span
                                class="progress-number"><b id="ip4_udp_qicq_cnt">&nbsp;&nbsp;</b>/<text class="ip4_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_udp_http" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">DNS</span><span
                                class="progress-number"><b id="ip4_udp_dns_cnt">&nbsp;&nbsp;</b>/<text class="ip4_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip4_udp_dns" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-group">
                <span class="progress-text">ICMP</span><span
                    class="progress-number"><b id="ip4_icmp_cnt">&nbsp;&nbsp;</b>/<text class="ip4_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip4_icmp" class="progress-bar progress-bar-green" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
            <div class="progress-group">
                <span class="progress-text">SNMP</span>
                <span class="progress-number"><b id="ip4_snmp_cnt">&nbsp;&nbsp;</b>/<text class="ip4_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip4_snmp" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
        </div>
        <div class="col-md-5">
            <p class="text-center">
                <strong>IPv6</strong>
            </p>
            <div class="progress-group">
                <span class="progress-text">TCP</span><span
                    class="progress-number"><b id="ip6_tcp_cnt">&nbsp;&nbsp;</b>/<text class="ip6_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="tcp_ip6" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->

            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">TLS</span><span
                                class="progress-number"><b id="ip6_tcp_tls_cnt">&nbsp;&nbsp;</b>/<text class="ip6_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_tcp_tls" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">HTTP</span><span
                                class="progress-number"><b id="ip6_tcp_http_cnt">&nbsp;&nbsp;</b>/<text class="ip6_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_tcp_http" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">DNS</span><span
                                class="progress-number"><b id="ip6_tcp_dns_cnt">&nbsp;&nbsp;</b>/<text class="ip6_tcp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_tcp_dns" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-group">
                <span class="progress-text">UDP</span><span
                    class="progress-number"><b id="ip6_udp_cnt">&nbsp;&nbsp;</b>/<text class="ip6_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="udp_ip6" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">SSDP</span><span
                                class="progress-number"><b id="ip6_udp_ssdp_cnt">&nbsp;&nbsp;</b>/<text class="ip6_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_udp_ssdp" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">QICQ</span><span
                                class="progress-number"><b id="ip6_udp_qicq_cnt">&nbsp;&nbsp;</b>/<text class="ip6_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_udp_http" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1"></div>
                    <div class="col-md-11">
                        <div class="progress-group">
                            <span class="progress-text">DNS</span><span
                                class="progress-number"><b id="ip6_udp_dns_cnt">&nbsp;&nbsp;</b>/<text class="ip6_udp_all_cnt"></text></span>
                            <div class="progress sm">
                                <div id="ip6_udp_dns" class="progress-bar bg-success" style="width: 0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="progress-group">
                <span class="progress-text">ICMP</span><span
                    class="progress-number"><b id="ip6_icmp_cnt">&nbsp;&nbsp;</b>/<text class="ip6_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip6_icmp" class="progress-bar progress-bar-green" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
            <div class="progress-group">
                <span class="progress-text">SNMP</span>
                <span class="progress-number"><b id="ip6_snmp_cnt">&nbsp;&nbsp;</b>/<text class="ip6_all_cnt"></text></span>
                <div class="progress sm">
                    <div id="ip6_snmp" class="progress-bar bg-info" style="width: 0"></div>
                </div>
            </div><!-- /.progress-group -->
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js" crossorigin="anonymous"></script>
<script>
    let window_j = $(window);
    let chart_j = $("#chart");
    set_size();
    set_count2();
    setInterval(set_count2, 10000);
    function set_count2() {
        $.post("#", "", (data) => {

            $("#ip4_tcp").css("width", String(data.cnt_ip4.tcp.all / data.cnt_ip4.all * 100) + "%");
            $("#ip4_udp").css("width", String(data.cnt_ip4.udp.all / data.cnt_ip4.all * 100) + "%");
            $("#ip4_snmp").css("width", String(data.cnt_ip4.snmp / data.cnt_ip4.all * 100) + "%");
            $("#ip4_icmp").css("width", String(data.cnt_ip4.icmp / data.cnt_ip4.all * 100) + "%");

            $("#ip4_tcp_tls").css("width", String(data.cnt_ip4.tcp.tls / data.cnt_ip4.tcp.all * 100) + "%");
            $("#ip4_tcp_http").css("width", String(data.cnt_ip4.tcp.http / data.cnt_ip4.tcp.all * 100) + "%");
            $("#ip4_tcp_dns").css("width", String(data.cnt_ip4.tcp.dns / data.cnt_ip4.tcp.all * 100) + "%");

            $("#ip4_udp_ssdp").css("width", String(data.cnt_ip4.udp.ssdp / data.cnt_ip4.udp.all * 100) + "%");
            $("#ip4_udp_qicq").css("width", String(data.cnt_ip4.udp.qicq / data.cnt_ip4.udp.all * 100) + "%");
            $("#ip4_udp_dns").css("width", String(data.cnt_ip4.udp.dns / data.cnt_ip4.udp.all * 100) + "%");

            $("#ip6_tcp").css("width", String(data.cnt_ip6.tcp.all / data.cnt_ip6.all * 100) + "%");
            $("#ip6_udp").css("width", String(data.cnt_ip6.udp.all / data.cnt_ip6.all * 100) + "%");
            $("#ip6_snmp").css("width", String(data.cnt_ip6.snmp / data.cnt_ip6.all * 100) + "%");
            $("#ip6_icmp").css("width", String(data.cnt_ip6.icmp / data.cnt_ip6.all * 100) + "%");

            $("#ip6_tcp_tls").css("width", String(data.cnt_ip6.tcp.tls / data.cnt_ip6.tcp.all * 100) + "%");
            $("#ip6_tcp_http").css("width", String(data.cnt_ip6.tcp.http / data.cnt_ip6.tcp.all * 100) + "%");
            $("#ip6_tcp_dns").css("width", String(data.cnt_ip6.tcp.dns / data.cnt_ip6.tcp.all * 100) + "%");

            $("#ip6_udp_ssdp").css("width", String(data.cnt_ip6.udp.ssdp / data.cnt_ip6.udp.all * 100) + "%");
            $("#ip6_udp_qicq_").css("width", String(data.cnt_ip6.udp.qicq / data.cnt_ip6.udp.all * 100) + "%");
            $("#ip6_udp_dns").css("width", String(data.cnt_ip6.udp.dns / data.cnt_ip6.udp.all * 100) + "%");

            $("#ip4_tcp_cnt").text(data.cnt_ip4.tcp.all);
            $("#ip4_tcp_tls_cnt").text(data.cnt_ip4.tcp.tls);
            $("#ip4_tcp_http_cnt").text(data.cnt_ip4.tcp.http);
            $("#ip4_tcp_dns_cnt").text(data.cnt_ip4.tcp.dns);
            $("#ip4_udp_cnt").text(data.cnt_ip4.udp.all);
            $("#ip4_udp_ssdp_cnt").text(data.cnt_ip4.udp.ssdp);
            $("#ip4_udp_qicq_cnt").text(data.cnt_ip4.udp.qicq);
            $("#ip4_udp_dns_cnt").text(data.cnt_ip4.udp.dns);
            $("#ip4_icmp_cnt").text(data.cnt_ip4.icmp);
            $("#ip4_snmp_cnt").text(data.cnt_ip4.snmp);

            $(".ip4_all_cnt").text(data.cnt_ip4.all);
            $(".ip4_tcp_all_cnt").text(data.cnt_ip4.tcp.all);
            $(".ip4_udp_all_cnt").text(data.cnt_ip4.udp.all);

            $("#ip6_tcp_cnt").text(data.cnt_ip6.tcp.all);
            $("#ip6_tcp_tls_cnt").text(data.cnt_ip6.tcp.tls);
            $("#ip6_tcp_http_cnt").text(data.cnt_ip6.tcp.http);
            $("#ip6_tcp_dns_cnt").text(data.cnt_ip6.tcp.dns);
            $("#ip6_udp_cnt").text(data.cnt_ip6.udp.all);
            $("#ip6_udp_ssdp_cnt").text(data.cnt_ip6.udp.ssdp);
            $("#ip6_udp_qicq_cnt").text(data.cnt_ip6.udp.qicq);
            $("#ip6_udp_dns_cnt").text(data.cnt_ip6.udp.dns);
            $("#ip6_icmp_cnt").text(data.cnt_ip6.icmp);
            $("#ip6_snmp_cnt").text(data.cnt_ip6.snmp);

            $(".ip6_all_cnt").text(data.cnt_ip6.all);
            $(".ip6_tcp_all_cnt").text(data.cnt_ip6.tcp.all);
            $(".ip6_udp_all_cnt").text(data.cnt_ip6.udp.all);

        }, "json");
    }
    let chart = echarts.init(chart_j.get(0));
    let option = {
        title: { text: 'IPv4', color: "#7bb6f2" },
        color: ["#7bb6f2"],
        xAxis: { type: "category", data: ["IPv4", "IPv6"], "axisLabel": { interval: 0 } },
        yAxis: { type: 'value' },
        series: [{
            data: [0, 0],
            type: 'bar',
            label: { show: true, position: 'top', color: '#000000', fontSize: 20 }
        }]

    };
    chart.setOption(option);
    set_count();

    window.onresize = () => {
        set_size();
        chart.resize();
    }

    setInterval(set_count, 10000);

    function set_size() {
        if (window_j.width() > window_j.height()) {
            chart_j.width(window_j.width() * 0.6);
            chart_j.height(window_j.width() * 0.3);
        } else {
            chart_j.width(window_j.width() * 0.95);
            chart_j.height(window_j.width() * 0.7);
        }
    }

    function set_count() {
        $.post("#", "", (data) => {
            option.series[0].data = [data.cnt_ip4.all, data.cnt_ip6.all];
            chart.setOption(option);
        }, "json");
    }
</script>
{% endblock %}