{% extends 'base.html' %}

{% block body %}
    <div class="container mt-5">
        <div class="row">
            <div class="col ml-5">
                <h4 class="mb-2" style="color: var(--color-primary-dark)">IPv4&nbsp;&nbsp;<b class="ip-all"></b> /
                    <text class="all"></text>
                </h4>
                <hr class="mb-4">

                <div class="progress-group" id="ip-tcp">
                    <span class="progress-text">TCP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-all"></text></span>
                    <div class="progress sm">
                        <div id="ip-tcp" class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-tcp-http">
                    <span class="progress-text">HTTP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-tcp-tls">
                    <span class="progress-text">TLS&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-tcp-telnet">
                    <span class="progress-text">Telnet&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-tcp-ftp">
                    <span class="progress-text">FTP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-tcp-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip-udp">
                    <span class="progress-text">UDP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-udp-dns">
                    <span class="progress-text">DNS&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-udp-oicq">
                    <span class="progress-text">OICQ&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip-udp-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip-icmp">
                    <span class="progress-text">ICMP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>
            </div>

            <div class="col mr-5">
                <h4 class="mb-2" style="color: var(--color-primary-dark)">IPv6&nbsp;&nbsp;<b class="ip6-all"></b> /
                    <text class="all"></text>
                </h4>
                <hr class="mb-4">

                <div class="progress-group" id="ip6-tcp">
                    <span class="progress-text">TCP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-all"></text></span>
                    <div class="progress sm">
                        <div id="ip6-tcp" class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-tcp-http">
                    <span class="progress-text">HTTP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-tcp-tls">
                    <span class="progress-text">TLS&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-tcp-telnet">
                    <span class="progress-text">Telnet&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-tcp-ftp">
                    <span class="progress-text">FTP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-tcp-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-tcp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip6-udp">
                    <span class="progress-text">UDP&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-udp-dns">
                    <span class="progress-text">DNS&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-udp-oicq">
                    <span class="progress-text">OICQ&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group ml-5" id="ip6-udp-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-udp-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-success" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip6-icmp">
                    <span class="progress-text">ICMPv6&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>

                <div class="progress-group" id="ip6-other">
                    <span class="progress-text">其他&nbsp;&nbsp;</span>
                    <span class="progress-number"><b></b> / <text class="ip6-all"></text></span>
                    <div class="progress sm">
                        <div class="progress-bar bg-primary" style="width: 0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/echarts@4.9.0/dist/echarts.min.js" crossorigin="anonymous"></script>
    <script>
        $(".progress-group").addClass("mt-2", "mb-2");

        set_count();
        setInterval(set_count, 1000);

        function set_count() {
            $.post("{{ url_for('stats') }}", "", (data) => {
                $(".all").text(data.all);
                $(".ip-all").text(data.ip.all);
                $(".ip-tcp-all").text(data.ip.tcp.all);
                $(".ip-udp-all").text(data.ip.udp.all);
                $(".ip6-all").text(data.ip6.all);
                $(".ip6-tcp-all").text(data.ip6.tcp.all);
                $(".ip6-udp-all").text(data.ip6.udp.all);

                $("#ip-tcp .progress-bar").css("width", String(data.ip.tcp.all / data.ip.all * 100) + "%");
                $("#ip-tcp b").text(data.ip.tcp.all);
                $("#ip-udp .progress-bar").css("width", String(data.ip.udp.all / data.ip.all * 100) + "%");
                $("#ip-udp b").text(data.ip.udp.all);
                $("#ip-icmp .progress-bar").css("width", String(data.ip.icmp / data.ip.all * 100) + "%");
                $("#ip-icmp b").text(data.ip.icmp);
                $("#ip-other .progress-bar").css("width", String(data.ip.other / data.ip.all * 100) + "%");
                $("#ip-other b").text(data.ip.other);

                $("#ip-tcp-tls .progress-bar").css("width", String(data.ip.tcp.tls / data.ip.tcp.all * 100) + "%");
                $("#ip-tcp-tls b").text(data.ip.tcp.tls);
                $("#ip-tcp-http .progress-bar").css("width", String(data.ip.tcp.http / data.ip.tcp.all * 100) + "%");
                $("#ip-tcp-http b").text(data.ip.tcp.http);
                $("#ip-tcp-telnet .progress-bar").css("width", String(data.ip.tcp.telnet / data.ip.tcp.all * 100) + "%");
                $("#ip-tcp-telnet b").text(data.ip.tcp.telnet);
                $("#ip-tcp-ftp .progress-bar").css("width", String(data.ip.tcp.ftp / data.ip.tcp.all * 100) + "%");
                $("#ip-tcp-ftp b").text(data.ip.tcp.ftp);
                $("#ip-tcp-other .progress-bar").css("width", String(data.ip.tcp.other / data.ip.tcp.all * 100) + "%");
                $("#ip-tcp-other b").text(data.ip.tcp.other);

                $("#ip-udp-oicq .progress-bar").css("width", String(data.ip.udp.oicq / data.ip.udp.all * 100) + "%");
                $("#ip-udp-oicq b").text(data.ip.udp.oicq);
                $("#ip-udp-dns .progress-bar").css("width", String(data.ip.udp.dns / data.ip.udp.all * 100) + "%");
                $("#ip-udp-dns b").text(data.ip.udp.dns);
                $("#ip-udp-other .progress-bar").css("width", String(data.ip.udp.other / data.ip.udp.all * 100) + "%");
                $("#ip-udp-other b").text(data.ip.udp.other);

                $("#ip6-tcp .progress-bar").css("width", String(data.ip6.tcp.all / data.ip6.all * 100) + "%");
                $("#ip6-tcp b").text(data.ip6.tcp.all);
                $("#ip6-udp .progress-bar").css("width", String(data.ip6.udp.all / data.ip6.all * 100) + "%");
                $("#ip6-udp b").text(data.ip6.udp.all);
                $("#ip6-icmp .progress-bar").css("width", String(data.ip6.icmp / data.ip6.all * 100) + "%");
                $("#ip6-icmp b").text(data.ip6.icmp);
                $("#ip6-other .progress-bar").css("width", String(data.ip6.other / data.ip6.all * 100) + "%");
                $("#ip6-other b").text(data.ip6.other);

                $("#ip6-tcp-tls .progress-bar").css("width", String(data.ip6.tcp.tls / data.ip6.tcp.all * 100) + "%");
                $("#ip6-tcp-tls b").text(data.ip6.tcp.tls);
                $("#ip6-tcp-http .progress-bar").css("width", String(data.ip6.tcp.http / data.ip6.tcp.all * 100) + "%");
                $("#ip6-tcp-http b").text(data.ip6.tcp.http);
                $("#ip6-tcp-telnet .progress-bar").css("width", String(data.ip6.tcp.telnet / data.ip6.tcp.all * 100) + "%");
                $("#ip6-tcp-telnet b").text(data.ip6.tcp.telnet);
                $("#ip6-tcp-ftp .progress-bar").css("width", String(data.ip6.tcp.ftp / data.ip6.tcp.all * 100) + "%");
                $("#ip6-tcp-ftp b").text(data.ip6.tcp.ftp);
                $("#ip6-tcp-other .progress-bar").css("width", String(data.ip6.tcp.other / data.ip6.tcp.all * 100) + "%");
                $("#ip6-tcp-other b").text(data.ip6.tcp.other);

                $("#ip6-udp-oicq .progress-bar").css("width", String(data.ip6.udp.oicq / data.ip6.udp.all * 100) + "%");
                $("#ip6-udp-oicq b").text(data.ip6.udp.oicq);
                $("#ip6-udp-dns .progress-bar").css("width", String(data.ip6.udp.dns / data.ip6.udp.all * 100) + "%");
                $("#ip6-udp-dns b").text(data.ip6.udp.dns);
                $("#ip6-udp-other .progress-bar").css("width", String(data.ip6.udp.other / data.ip6.udp.all * 100) + "%");
                $("#ip6-udp-other b").text(data.ip6.udp.other);
            }, "json");
        }
    </script>
{% endblock %}